body {
  background: #28ede0;
  border: 10px solid #b2bfbd;
  border-radius: 20px;
}

h3 {
  text-font: 12px;
  font-family: times new romans;
  text-align: center;
  text-decoration: underline;
}

h5 {
  padding-left: 200px;
}  

ul {
  text-font: 10px;
  font-family: times new romans;
  padding-left: 300px;
}

p {
  text-align: right;
}  

.header {
  text-align: center;
}
