body {
  background: #28ede0;
  border-radius: 20px;
}

h3 {
  text-font: 12px;
  font-family: times new romans;
  text-align: center;
}

ul {
  text-font: 10px;
  font-family: times new romans;
}

p {
  text-align: right;
}  

.header {
  text-align: center;
}
