body {
  background: #28ede0;
}

h3 {
  text-font: 12px;
  font-family: times new romans;
  text-align: center;
}

ul {
  text-font: 10px;
  font-family: times new romans;
}

p {
  text-align: right;
}  

.work-history {
  text-align: justify;
}

.education {
  margin-right: 30px;
}

.name {
  text-align: center;
  word-spacing: 10px
}

.address {
  text-align: center;
  word-spacing: 10px
}

.number {
  text-align: center;
  word-spacing: 10px
}

.email {
  text-align: center;
  word-spacing: 10px
}
